<!DOCTYPE html>
<html>
<head>
    <title>Hodnocení jídelny</title>
    <link rel="icon" href="/favicon.ico">
    <style>
        img {object-fit: contain;}
    </style>
</head>
<body>
{% include "navbar.html" %}
{% if isCanteen%}<h1 style="color:red">Toto je jidelna ne jidlo</h1>{%endif%}
<h1>{{ name }}</h1>

<img src="{{ image }}" height="100" alt="{{ name }}">

{% if isCanteen %}
<p>Jidelni system: {{ rating }}</p>
{% else %}
<p>Rating: {{ rating }}/7</p>
{% endif %}
{% if text %}<p style="color:red">{{ text }}</p>{% endif %}
<form action="{{ url_for('get_new_food', food_id=food_id) }}" method="post">
    <label for="password">Password:</label>
    <p><input type = "password" id="password" name="password" placeholder="Password"></p>
    <p style="color:tomato">{{message}}</p>
    <button type="submit" name="decision" value="deny">Deny</button>
    <button type="submit" name="decision" value="accept">Accept</button>
</form>

</body>
</html>
