<!DOCTYPE html>
<html>
<head>
    <title>Hodnocení jídelny</title>
    <link rel="icon" href="/favicon.ico">
    <style>
        img {object-fit: contain;}
    </style>
</head>
<body>
{% include "navbar.html" %}
<h1>{{ name }}</h1>

<img src="{{ image }}" height="100" alt="{{ name }}">

<p>Rating: {{ rating }}/7</p>
<p style="color:red">{{ text }}</p>
<form action="{{ url_for('get_new_food', food_id=food_id) }}" method="post">
    <label for="password">Password:</label>
    <p><input type="text" id="password" name="password" placeholder="Password"></p>
    <p style="color:tomato">{{message}}</p>
    <button type="submit" name="decision" value="deny">Deny</button>
    <button type="submit" name="decision" value="accept">Accept</button>
</form>

</body>
</html>
