<!DOCTYPE html>
<html>
<head>
  <title>Přidat jídlo</title>
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/navbar.css">
  <style>
    .not_navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .not_navbar form{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: fit-content;
    }

    .not_navbar form p{
        margin: 0;
    }

    .not_navbar form input,
    .not_navbar form button,
    .not_navbar form label{
        margin: 0;
    }
    

  </style>
</head>
<body>
    {% include "navbar.html" %}
    <div class="not_navbar">
        <form action="{{ url_for('add_food') }}" method="post" enctype="multipart/form-data">
            <label for="food_name">Název jídla:</label>
            <input type="text" id="food_name" name="food_name" placeholder="Název jídla" list="foodList">
            <datalist class="datalist" id="foodList">
                {% for food, food_id, image,disabled,my_id, rating, user_rating in foods %} 
                    <option value="{{food}}">
                {% endfor %}
            </datalist>

            <p style="color:red">Prosím, hodnoťte jídla podle chutě a ne podle vzhledu.</p>
            <p style="color:red">Je lepší pole nechat prázdné, než zadat nesmysl.</p>

            <label for="rating">Hodnocení:</label>
            <input type="number" id="rating" name="rating" min="1" max="7">

            <input type="file" name="file">
            
            <button type="submit">Přidat jídlo</button>
        </form>
    </div>
</body>