<!DOCTYPE html>
<html>
<head>
  <title>Hodnocení jídelny</title>
  <link rel="icon" href="/favicon.ico">
  <style>
    .not_navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .datalist {
        border: 1px solid black;
        margin-left: 20%;
        margin-right: 20%;
        top: 0;
    }
  </style>
</head>
<body>
    {% include "navbar.html" %}
    <div class="not_navbar">
        <form action="{{ url_for('add_food') }}" method="post" enctype="multipart/form-data">
            <label for="food_name">Název jídla:</label>
            <p>
                <input type="text" id="food_name" name="food_name" placeholder="Název jídla" list="foodList">
                <datalist class="datalist" id="foodList">
                    {% for food,image,disabled,my_id, rating, user_rating in foods %} 
                        <option value="{{food}}">
                    {% endfor %}
                </datalist>
            </p>
            <p>
                <label for="rating">Hodnocení:</label>
                <input type="number" id="rating" name="rating" min="1" max="7">
            </p>

            <input type="file" name="file">
            <p><button type="submit">Přidat jídlo</button></p>
        </form>
    </div>
</body>