<!DOCTYPE html>
<html>
<head>
  <title>Přidat jídelnu</title>
  <link rel="icon" href="/favicon.ico">
  <style>
    .not_navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .not_navbar form{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: fit-content;
    }

    .not_navbar form p{
        margin: 0;
    }

    .not_navbar form input,
    .not_navbar form button,
    .not_navbar form label{
        margin: 0;
    }
    

  </style>
</head>
<body>
    {% include "navbar.html" %}
    <div class="not_navbar">
        <form action="/add_canteen" method="post" enctype="multipart/form-data">
            <label for="food_name">Název jidelny / skoly:</label>
            <input type="text" id="canteen_name" name="canteen_name" placeholder="Název jidelny / skoly" list="foodList">

            <label for="canteen_system">Jidelni system:</label>
            <select id="canteen_system" name="canteen_system">
                {% for i in range(canteen_systems|length) %}
                    <option value="{{i}}">{{canteen_systems[i][0]}}</option>
                {% endfor %}
            </select>
            <p><a href="/suggestions">Neni tady vas jidelni system?</a></p>

            <label for="canteen_url">URL adresa jidelniho systemu:</label>
            <input type="text" id="canteen_url" name="canteen_url" placeholder="https://strav.nasejidelna.cz/0254/login">

            <label for="file">Logo jidelny:</label>
            <input type="file" name="file">
            
            <button type="submit">Přidat jídelnu</button>
        </form>
    </div>
</body>