<!DOCTYPE html>
<html lang="cs">
<head>
    <title>{% block title %}Hodnocení jídelny{% endblock %}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head_extra %}{% endblock %}
</head>
<body>

    {% include "navbar.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
