<!DOCTYPE html>
<html>
<head>
  <title>Hledat jídlo</title>
  <link rel="icon" href="/favicon.ico">
</head>
<body>
    {% include "navbar.html" %}
    <h1><u>Výběr jídelny</u></h1>
    <p>Vitejte na nasi strance. Prosim vyberte si nazev vasi jidelny, nebo ji <a href="/add_canteen">stvorte</a></p>
    <label for="canteen">Jidelna:</label>
    <select name="canteen">
        {% for canteen,id in canteens %}
            <option value="{{id}}">{{canteen}}</option>
        {% endfor %}
    </select>
    <button type="submit">Pokračovat</button>
</body>
</html>