<head>
    <style>
        img {object-fit: contain;}
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <h1>
        <u>Kontakty:</u>
    </h1>
    <p><a href = "mailto:podpora@jidelna.qzz.io">podpora@jidelna.qzz.io</a>, nebo mi můžete napsat na Teams syzonenko.semen@postupicka.cz</p>
    <a href = "https://github.com/SmallWaterBucket/Postupicka-jidelna/tree/main"><img width = 50 src = "/image/github_PNG53.png"></a>
    <p><a href = "https://github.com/SmallWaterBucket/Postupicka-jidelna/tree/main">Chcete něco změnit a máte zkušenosti?</a></p>
</body>