<head>
    <style>
        img {object-fit: contain;}
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <h1>
        <u>Kontakty:</u>
    </h1>
    <p><a href = "mailto:syzonenko.semen@postupicka.cz">syzonenko.semen@postupicka.cz</a> prosímk pište mi na Teams, outlook zapínám jednou za rok</p>
    <a href = "https://github.com/SmallWaterBucket/Postupicka-jidelna/tree/main"><img width = 50 src = "/static/images/github_PNG53.png"></a>
    <p>Chcete něco změnit a máte zkušenosti?</p>
</body>