<!DOCTYPE html>
<html>
<head>
    <title>Změna informací o jídle</title>
    <link rel="icon" href="/favicon.ico">
    <style>
        img {object-fit: contain;}
        .delete:hover{
            background-color: rgb(255, 0, 0);
            color: white;
        }
        .apply:hover{
            background-color: rgb(0, 145, 0);
            color: white;
        }
    </style>
</head>
<body>
{% include "navbar.html" %}

<form action="{{ url_for('food_edit', food_id=food_id) }}" method="post">
    <p><input type="text" id="food_name" name="food_name" placeholder="jídlo" value="{{name}}"></p>
    <img src="{{ image }}" height="100" alt="{{ name }}">
    <p><input type="text" id="path" name="path" placeholder="image path" value="{{image}}"></p>
    <input type="checkbox" id="isFood" name="isFood" value="isFood" {% if isFood %}checked{% endif %}>
    <label for="isFood">Je jídlo?</label>


    <p>Rating: {{ rating }}/7</p>
    <label for="password">Password:</label>
    <p><input type="text" id="password" name="password" placeholder="Password"></p>
    <p style="color:tomato">{{message}}</p>
    
    <button class="delete" type="submit" name="decision" value="delete">Delete</button>
    <button class="apply" type="submit" name="decision" value="apply">Apply</button>
</form>

</body>
</html>
