<!DOCTYPE html>
<html>
<head>
  <title>Všechny jídla</title></title>
  <link rel="icon" href="/favicon.ico">
  <style>
        @font-face {
            font-family: 'Aurach';
            src: url("/static/fonts/AurachHeavy.ttf") format('truetype');
        }
        h1{
            font-family: 'Aurach';
            color: rgb(50,61,127);
        }
        .body{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .food_container{
            width: 250px;
            height: 300px;
        }
        .image{
            object-fit: contain;
        }
  </style>
</head>
<body>
    {% include "navbar.html" %}
    <h1><u>Všechny jídla, která byla nahrána na tuto stránku:</u></h1>
    {% for food, food_id,image,rating in foods %}
        <div class="food_container">
            <a href="/get_food/{{food_id}}">
                <p>{{food}}</p>
            </a>
            <a href = "{{image}}">
                <img src="{{image}}" alt="{{food}}" width="200">
            </a>
            <p>Rating: {{rating}}</p>
        </div>
    {% endfor %}
    <p>Není tady to co hledáte? <a href="/add_food">Přidejte ho</a></p>
</body>
</html>