<!DOCTYPE html>
<html>
<head>
    <title>{{ name }}</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        img {
            object-fit: contain;
            border-radius: 15px;
        }
        .not_navbar {
            display:flex;
            flex-direction: column;
            align-items: center;
            color: rgb(50,61,127);
        }

    </style>
</head>
<body>
{% include "navbar.html" %}
<div class="not_navbar">
    <h1>{{ name }}</h1>
    <p><a href="{{ image }}"><img src="{{ image }}" height="200" alt="{{ name }}"></a></p>
    {% if isCanteen %}
        <p>Jidelni system: {{ rating }}</p>
    {% else %}
        {% if rating != -1 %}
            {% if rating <= 2 %}
                <p style="color:red">Hodnocení: {{ rating }}/7</p>
            {% elif rating <= 5 %}
                <p style="color:orange">Hodnocení: {{ rating }}/7</p>
            {% else %}
                <p style="color:green">Hodnocení: {{ rating }}/7</p>
            {% endif %}
        {% else %}
            <p>Žádné hodnocení</p>
        {% endif %}
    {% endif %}

    {% if user_rating %}
        {% if user_rating <= 2 %}
            <p style="color:red">Vaše hodnocení: {{ user_rating }}/7</p>
        {% elif user_rating <= 5 %}
            <p style="color:orange">Vaše hodnocení: {{ user_rating }}/7</p>
        {% else %}
            <p style="color:green">Vaše hodnocení: {{ user_rating }}/7</p>
        {% endif %}
    {% endif %}

    <p>Jidlo je z: <a href = "/canteen/{{ canteen_id }}">{{ canteen_name }}</a></p>
    {% if text %}<p style="color:tomato">{{text}}</p>{% endif %}

    <form method="POST" action="{{ url_for('get_food', food_id=food_id) }}">
       <div class="rating-css">
           <div class="star-icon">
                <input type="radio" name="rating" id="rating1" value="1">
                <label for="rating1" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating2" value="2">
                <label for="rating2" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating3" value="3">
                <label for="rating3" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating4" value="4">
                <label for="rating4" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating5" value="5">
                <label for="rating5" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating6" value="6">
                <label for="rating6" class="fa fa-star"></label>
                <input type="radio" name="rating" id="rating7" value="7">
                <label for="rating7" class="fa fa-star"></label>
            </div>
        </div>

        <p><button type="submit" name="submit_button" value="Rating">Submit rating</button></p>
    
        <p><a href="/food_edit/{{ food_id }}">Admin page</a></p>
    <!--
        <div class = "comments">
            <h2>Komentáře</h2>
            {% for comment in comments %}
                <div class="comment">
                    <div class="user">
                        <p><b>{{ comment.username }}</b></p>
                    </div>
                    <div class="comment_text">
                        <p>{{ comment.text }}</p>
                    </div>
                    <div class="comment_date">
                        <p style="color:gray">{{ comment.date }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    -->
    </form>
</div>

</body>
</html>
