<nav class = "navbar">
    <ul>
        <li><a href="/"><img class="logo" src="{% if logo %}{{logo}}{% else %}/image/3rd_logo.jpeg{% endif %}"></a></li>

        <li class="disable-on-mobile"><a href="/about">O nás</a></li>
        <li class="disable-on-mobile"><a href="/foods">Seznam jídel</a></li>
        <li class="disable-on-mobile"><a href="/add_food">Přidat jídlo</a></li>
        <li class="disable-on-mobile"><a href="/contacts">Kontakty</a></li>
        <li class="disable-on-mobile"><a href="/canteens">Výběr jídelny</a></li>

        <li class="enable-on-mobile">
            <div class="dropdown">
                <a id="menu" href="#" onclick="expandDropdown();return false;" class="dropbtn">☰</a>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/about">O nás</a>
                    <a href="/foods">Seznam jídel</a>
                    <a href="/add_food">Přidat jídlo</a>
                    <a href="/contacts">Kontakty</a>
                    <a href="/canteens">Výběr jídelny</a>
                </div>
            </div>
        </li>

        {% if not username %}
            <li><a href="/login">Přihlášení</a></li>
        {% else %}
            <li><a href="/logout">Odhlásit se</a></li>
            <li class = "user_info">
                <span>Uživatel: {{ username }}</span>
                <span id="credit">Kredit: {{ kredit }}</span>
            </li>
        {% endif %}
    </ul>
</nav>

<script>
    function expandDropdown(){
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event){
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>