<div class="navbar-container">
    <nav class = "navbar">
        <ul>
            <li><a href="/"><img class="logo" src="{% if logo %}{{logo}}{% else %}/image/3rd_logo.jpeg{% endif %}"></a></li>

            <li class="disable-on-mobile"><a href="/about">O nás</a></li>
            <li class="disable-on-mobile"><a href="/foods">Seznam jídel</a></li>
            <li class="disable-on-mobile"><a href="/add_food">Přidat jídlo</a></li>
            <li class="disable-on-mobile"><a href="/contacts">Kontakty</a></li>
            <li class="disable-on-mobile"><a href="/canteens">Výběr jídelny</a></li>
            <li class="mobile-menu"><a id="menu" href="#" onclick="expandDropdown();return false;" class="dropbtn">☰</a></li>

            {% if not username %}
                <li><a href="/login">Přihlášení</a></li>
            {% else %}
                <li class = "user_info">
                    <span>Uživatel: {{ username }}</span>
                    <span id="credit">Kredit: {{ kredit }}</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="dropdown-content" id="myDropdown">
        <a href="/about">O nás</a>
        <a href="/foods">Seznam jídel</a>
        <a href="/add_food">Přidat jídlo</a>
        <a href="/contacts">Kontakty</a>
        <a href="/canteens">Výběr jídelny</a>
        {% if username %}
            <a href="/logout">Odhlásit se</a>
        {% endif %}
    </div>
</div>

<script>
function expandDropdown() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
    if (!event.target.closest('.dropbtn')) {
        const dropdown = document.getElementById("myDropdown");
        dropdown.classList.remove("show");
    }
}
</script>