<head>
    <title>
        Systém není podporován :/
    </title>
    <link rel="stylesheet" href="/static/styles/page_style.css">
    <style>

    </style>
</head>
<body>
    <div class="navbar">
        {% include "navbar.html" %}
    </div>

    <div class="not_navbar">
        <h1>
            <u>Systém není podporován</u>
        </h1>

        <p>Bohužel přihlášení do jídelního systému: {{ canteen_system_name }} není podporováno</p>
        
        <h1>
            <u>Proc?</u>
        </h1>

        <p>Duvody jsou ruzne. Nad podporou nekterych systemu pracuji, jine mozna neni tak jednoduche udelat a potrvaji mi chvili. Nektere systemy dost mozna nikdy nedostanou podporu z duvodu jejich komplikovanosti.</p>
        
        <h1>
            <u>Co muzu delat?</u>
        </h1>

        <p>Urcite me muzete <a href="/contacts">pozadat</a> abych pridal podporu pro vas system a ja se na to nekdy nejspise podivam. Pokud umite programovat tak muzete vyuzit vase schopnosti a kontribovat podporu pro dany system na nas <a href="https://github.com/SmallWaterBucket/Postupicka-jidelna">GitHub</a>, ale prosim ne vibecodeujte ho, muzete pouzivat AI ale prosim primerene at furt chapete co se deje.</p>
    </div>
</body>