@font-face {
    font-family: 'AurachHeavy';
    src: url("/static/fonts/AurachHeavy-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Book-Antiqua';
    src: url("/static/fonts/Book-Antiqua.ttf") format('truetype');
}
h1{
    font-family: 'AurachHeavy';
    font-size: 3.5vw;
    text-align: center;
    text-decoration-line: underline;
}
h2{
    font-family: 'AurachHeavy';
    font-size: 2.5vw;
    text-align: center;
    text-decoration-line: underline;
}
h3{
    font-size: 1.5vw;
}
p{
    font-family: 'Book-Antiqua';
    font-size: 1.5vw;
}
li.list{
    font-size: 1.5vw;
}
.not_navbar{
    color: rgb(50,61,127);
    display:flex;
    flex-direction: column;
    padding: 0 8vw;
}
img {
    object-fit: contain;
    border-radius: 15px;
}
.person{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.center{
    text-align: center;
}
.grid-container{
    margin-left: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px){
    h1{
        font-size: 7vw
    }
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 3vw;
    }

    p{
        font-size: 1.5vw;
    }

    li.list{
        font-size: 1.5vw;
    }
}